.qa-flag-reasons-wrap {
	display:inline-block;
	min-width:250px;
	position:relative;
	background:#FFC;
	border:1px solid #FCC;
	padding: 1rem 3rem 2rem 3rem;
	margin:10px 0 30px 0;
	text-align:left;
	z-index:3335;
	max-height: 75vh;
    overflow-y: auto;
}
.qa-flag-reasons-wrap .closer {
	position:absolute;
	top:1rem;
	right:1rem;
	font-size:20px;
	color:#333;
	cursor:pointer;
	background:#c7c7c7;
	border-radius:3px;
	width:20px;
	height:20px;
	line-height: 20px;
	text-align:center;
}
#qa-reason-form {
    min-width: 227px;
}
.qa-flag-reasons-wrap h4 {
	margin-bottom:10px;
}
.qa-flag-reasons-wrap label {
	display:block;
	padding:7px 0;
}
input[name="qa-spam-reason-radio"] {
	margin:0 2px 0 0;
}
input[name="qa-spam-reason-radio"]:checked+span { font-weight: bold; }
.qa-spam-reason-text-wrap {
	display:block;
	margin-top: 1rem;
}
.qa-spam-reason-text-wrap p {
    margin-bottom: 0.3rem;
}
.qa-spam-reason-text {
	padding:7px;
	width: 100%;
	height:auto;
	border-radius: 3px;
}
.qa-flag-show-error {
    display: block;
    color: #f83052;
    font-size: .75rem;
	font-weight: bold;
}
.flag-submit-successful {
    color: #3dbc8d;
}
.flag-submit-amber {
    color: #f50;
}
.qa-go-flag-send-button {
	margin-top:15px;
}
#flagbox-popup {
	background: #000000;
	background: rgba(0,0,0,0.75);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 5119;
}
#flagbox-center {
	margin: 6% auto;
	width: auto;
	text-align: center;
}
.qa-flagreason-list {
	padding-left:0;
	margin:0px;
	list-style:none;
}
.qa-flagreason-list li {
	margin-bottom:15px;
}
.qa-flag-wrap {
	display:block;
}
.qa-flagreasons {
	display:inline-block;
	max-width:90%;
	margin-bottom:30px;
	padding:20px 20px 5px 20px;
	background:#ffcd41;
	color:#333;
	border:1px solid #F9A;
}

.qa-flag-reason-container {
    display: inline-block;
	font-size: .75rem;
    padding-left: 10px;
    border: 1px solid;
    border-radius: 30px;
}

.qa-c-item-flags .qa-flag-reason-container {
    line-height: normal;
	font-weight: normal;
	padding-left: 7px;
}

.qa-flag-reason-text {
    display: inline-block;
    background-color: #fddee4;
    margin-left: 6px;
    padding: 2px 10px 2px 7px;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.qa-flag-reason-text:hover {
    background-color: #ffd2da;
}

.qa-c-item-flags .qa-flag-reason-text {
    padding: 3px 7px 3px 5px;
	margin-left: 4px;
}

.qa-flag-reason {
    position: absolute;
    top: 130%;
    right: 0;
    z-index: 2;
    background-color: #fff;
    background-color: rgb(0 0 0 / 88%);
    color: #fff;
    padding: 0.5rem 1rem;
    /* box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%); */
    display: none;
}
.qa-flag-reason.qa-show-flag-reason {
    display: block;
}

.qa-flag-reason:before {
    content: "";
    position: absolute;
    /* top: 100%; */
    right: 3rem;
    bottom: 100%;
    width: 0;
    height: 0;
    /* border-top: 8px solid #ffffff; */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid rgb(0 0 0 / 88%);
    font-size: 0;
    line-height: 0;
}